<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="nuget.local" value="C:\nuget.local" />
  </packageSources>
    <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <packageSource key="nuget.local">
      <package pattern="Microsoft.Azure.Functions.Extensions.Dapr.Core" />
      <package pattern="Microsoft.Azure.Functions.Worker.Extensions.Dapr" />
      <package pattern="Microsoft.Azure.WebJobs.Extensions.Dapr" />
    </packageSource>
  </packageSourceMapping>
</configuration>